:root {
    --primary-color: coral;
    --secondary-color: dimGrey;
    --tertiary-color: gainsboro;

}
body {
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: 'Alfa Slab One', cursive;
  
}
 #container {
     height: 525px;
     width: 360px;
     margin: 100px auto;
     background:white;
     box-shadow: 10px 10px 18px rgb(206, 205, 205);
     border-radius: 20px;
    

 }
 #title {
     background-color: var(--tertiary-color);
     color:var(--secondary-color);
     padding: 20px;
     text-transform: uppercase;
     font-size: 18px;
     font-weight: normal;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
     text-align: center;

     
 }
 .tipsForm {
     padding-left: 20px;
     padding-left: 20px;
 }
 .formInput {
     background-color: white;
     width: 40px;
     padding: 5px 5px 12px 8px;
 }

 .formInput:focus {
 border: 3px solid var(--primary-color);
 outline: none;
 }
 .formSelect {
     width: 180px;
     height: 40px;
     padding: 5px;
     font-size: 12px;
 }
 .formSubmit {
     text-transform: uppercase;
     font-weight: bold;
     display: block;
     margin: 38px auto;
     background-color:  var(--primary-color);
     border-radius: 5px;
     width: 200px;
     height: 50px;
     color: white;
     font-size: 17px;
     

 }
 #totalTip {
     font-size: 20px;
     margin-top: 5px;
     text-align: center;
 }